<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url(https://img.pikbest.com/wp/202346/atm-machine-transaction-banking-made-easy-3d-render-of-with-coins-and-slip-paper-on-background_9727925.jpg!sw800);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;

        }
    </style>
</head>

<body>
    <div class="atm"></div>
    <h1>Your Balance is</h1>
    <h2>{{balance}}</h2>
    </div>
    <a href="{{url_for('userpanel',account_no=an,pin_no=pn)}}"><button>Back</button></a>

</body>

</html>